{% extends "NDPlatformBundle::layout.html.twig" %}

{% block title %}
    Modifier une annonce - {{ parent() }}
{% endblock %}

{% block ndplatform_body %}

    <h2>Modifier une annonce</h2>

    {{ include("NDPlatformBundle:Advert:form.html.twig") }}

    <p>
        Vous éditez une annonce déjà existante, merci de ne pas changer l'esprit générale de l'annonce déjà publiée.
    </p>

    <p>
        <a href="{{ path('nd_platform_view', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left">
                Retour à l'annonce
            </i>
        </a>
    </p>

{% endblock %}